@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #ffffff;
    height: 7000px;
    
}
.wrapper {
    height: 100%;
    display: block;
}
#header {
    height: 1%;
    opacity: 0.7;
    position: fixed;
    left: 30%;
    top:0;
    text-decoration: none;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
    text-decoration: none;
}
#nav >li {
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav >li>button {
    font-family: cursive;
    font-size: medium;
    background: #ffffff;
}
#nav li button, b,a{
    text-decoration: none;
    font-weight: 700;
    line-height: 50px;
    font-family: cursive;
    font-size: medium;
    color: black;
    padding: 0 24px ;
    display: block;
    border: none;
}

#nav > li:hover > button{
    color: #009966;
    font-size: large;
}
#nav > li:hover > b{
    color: #009966;
    font-size: large;
}
#nav >li:hover .subnav{
    display: block;
}
#nav .subnav {
    display: none;
    text-decoration: none;
    line-height: 50px;
    position: fixed;
    color: #000;
    font-family: cursive;
    font-size: medium;
}
#nav .subnav li:hover a{
    font-size: large;
    color: #009966;
}
#Ngọc {
    height: 50%;  
    width: 100%;
    background-color: green;
    position: absolute;
    display: block;
    top: 50%;
}
#About {
    height: 1000px;
}
#About .shape {
    height: 100%;
    width: 100%;
    top: 1050px;
}

.line-1{
    position: relative;
    top: -450px;  
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    color: #ccc;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(26) 1s 1 normal both,
               blinkTextCursor 500ms steps(26) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 12em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
#header .search-button{
    float: right;
    line-height: 50px;
    font-size: 180%;
    top: 10px;
    background-color: red;
    display: block;
    padding: 0 21px;

}
#header .search-button:hover{
    background-color: #ccc;
}
#content {
    height: 1000px;
}
#footer{
    background-color: rgb(14, 14, 71);
    height: auto;

}